{% extends "layout.njk" %}

{% block content %}
{% include "components/header.njk" %}
<main class="wrapper">
    {% if tooManyNewlines == true %}
        {{ flash }}
    {% endif %}

    {% if logged_in == true %}
        <p><em>Create new post</em></p>
        <form action="/posts" method="POST" class="form">
            <div class="createPost">
                <input type="text" id="title" name="title" placeholder="An Exciting Title" autocomplete="off">
                <textarea type="text" id="content" name="content" placeholder="What's on your mind?"></textarea>
            </div>
            <button type="submit">Post</button>
        </form>
    {% endif %}

    {% for post in posts %}
        <a href="/posts/{{ post.id }}" class="postLink">
            <article class="post">
                <header>
                    <h2>{{ post.title | safe }}</h2>
                </header>
                <pre>{{ post.content | safe }}</pre>
                <footer>
                    <p>Posted by <strong>{{ post.name }}</strong> on {{ post.created_at }}</p>
                </footer>
            </article>
        </a>
    {% else %}
        <h2>No posts available</h2>
    {% endfor %}    
</main>
{% include "components/footer.njk" %}
{% endblock %}