{% extends "layout.njk" %}

{% block content %}

<main class="wrapper">
    <article>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <footer>
            <p>Posted by <strong>{{ post.name }}</strong> at {{ post.created_at }}</p>
        </footer>
    </article>
</main>

{% endblock %}