{% extends "layout.njk" %}
{% block content %}
{% include "components/header.njk" %}

<main class="wrapper">
    <h2>Welcome back, {{ data.username }}!</h2>
    <h3>Your posts</h3>

    {% for post in posts %}
        <article>
            <header>
                <h4>{{ post.title }}</h4>
            </header>
            <p>{{ post.content }}</p>
            <footer>
                <p>Posted by <strong>{{ post.name }}</strong> on {{ post.created_at }}</p>
            </footer>
        </article>
    {% else %}
        <h2>No posts available</h2>
    {% endfor%}
</main>

{% endblock %}