body {
  font-family: sans-serif;
  font-size: 1.2rem;
}

nav {
  width: min(100% - 3rem, var(--container-max, 60ch));
  margin-inline: auto;
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }
}

.wrapper {
  width: min(100% - 3rem, var(--container-max, 60ch));
  margin-inline: auto;
}

.region {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.header-flex {
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
        margin-top: 0;
    }
}

.postLink {
  text-decoration: none;
  color: inherit;
}

.post {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px
}

.createPost {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input, textarea {
    padding: 10px;
    font-family: inherit;
  }
}

.wrongPassword {
  background-color: red;
  margin-bottom: 3rem;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  display: flex;
}